body {
    font-family: Oswald;
    font-size: 20px;
    background-color: azure;
}

h3:hover {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

nav {
    display: flex;
    gap: 3rem;
  }
  
  a {
    flex: 1;
    background-color: rgb(56, 87, 4);
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
  
  a:hover,
  a:focus {
    background-color: #fff;
    color: #333;
  }  

h2 {
    text-align: center;
    font-family: Oswald;
    font-size: 32px;;
}

img:hover {
    width: 100%;
}

input {
    margin: 10px;
}

a:hover {
    font-weight: bold;
}

article {
    width: 95%;
    padding: 15px;
}

img {
    width: 80%;
}

#creator {
    width: 20%;
    text-align: center;
}

nav a {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
}

p {
    font-size: 22px;
    width: 70%;
    font-family: Lato;
}

.warning {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Media Queries */
@media (max-width: 750px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
